body {
    /*background-color: lightblue;*/
	 font-family:Verdana;
	 color:#aaaaaa;
	 /*background-image: url("images/background.jpg");*/
	 background-color:#F1EDE2;
}

h1 {
    color: navy;
    margin-left: 20px;
}
iframe {
	/*border:none;
	width: 100%;*/
height:500px;	
    }

* {
  box-sizing: border-box;
}
.logo
{
	width: 200px;
	height: 100px;
}
.backcolor
{
	background-color:#F1EDE2;
}
.center{
	text-align:Center;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
  border-style: solid;
  border-width: 1px;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 0px;
}
.right {
  background-color:#e5e5e5;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }